body {
            margin: 0;
            padding: 0;
            background: url("images/bg.png") no-repeat center, #fca952;
        }
        .container {
            position: fixed;
            top: 50%;
            left: 50%;
            margin-top: -275px;
            margin-left: -375px;
            width: 750px;
            height: 550px;
            border: 2px solid #000;
            overflow: hidden;
        }
        .rounded {
            position: fixed;
            top: 50%;
            left: 50%;
            margin-left: -98px;
            margin-top: -67px;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            overflow: hidden;
            z-index: 100;
        }
        .box {
            background: 
        url("images/box_strip.png") no-repeat center,
        repeating-linear-gradient(
          -45deg,
          #ffffff,
          #ffffff 10px,
          #ff0000 10px,
          #ff0000 20px
        )  fixed;
            position: relative;
            top: calc(50% - 50px);
            left: 50%;
            width: 160px;
            height: 100px;
            margin-left: -80px;
            animation: box 3s;
        }
        .cover_full {
            position: relative;
            top: calc(50% - 85px);
            left: calc(50% - 90px);
            width: 180px;
            height: 70px;
            z-index: 101;
            animation: boxcover 2s 3s forwards;
        }
        .kesher {
            width: 180px;
            height: 35px;
            position: relative;
        }
        .papiyon {
            width: 0;
            height: 0;
            border-left: 25px solid transparent;
            border-right: 25px solid transparent;
            border-top: 50px solid #09d1c2;
            border-radius: 10px;
            float: left;
            position: relative;
        }
        #p1 {
            transform: rotate(-45deg);
            left: 30%;
        }
        #p2 {
            transform: rotate(45deg) scale(0.85);
            left: 15%;
        }
        #p3 {
            transform: rotate(-45deg) scale(0.5);
            border-top: 50px solid #fac464;
            top: 3px;
            left: -25%;
        }
        #p4 {
            transform: rotate(45deg) scale(0.35);
            border-top: 50px solid #fac464;
            left: 40%;
            top: -45px;
        }
        .cover {
            background: repeating-linear-gradient(
              90deg,
              #ff6359,
              #ff6359, 75px,
              #09d1c2 75px,
              #09d1c2 105px,
              #ff6359 105px
            );
            width: 180px;
            height: 35px;
            box-shadow: 1px 0px 10px #000;
            position: relative;
        }
        .mcafee {
            background-image: url("images/mcafee.png");
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: calc(50% - 100px);
            left: 50%;
            margin-left: -85px;
            width: 150px;
            height: 175px;
            animation: mcafee 1.5s 4s forwards;
            transform: scale(0);
            z-index: 98;
            opacity: 0;
        }
        .light {
            background-image: url("images/light.png");
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: calc(50% - 210px);
            left: calc(50% - 170px);
            transform: scale(0.85);
            width: 340px;
            height: 210px;
            z-index: 96;
            animation: light 1.5s 3.5s forwards;
            opacity: 0;
        }
        .title {
            position: absolute;
            top: calc(50% - 235px);
            left: 50%;
            margin-left: -125px;
            width: 250px;
            height: 75px;
            color: #a0110a;
            font-size: 24px;
            font-family: sans-serif;
            text-align: center;
            z-index: 97;
            opacity: 0;
            animation: title 1.5s 5s forwards;
        }
        .title span {
            font-weight: bold;
        }
        .confetti {
            position: absolute;
            top: calc(50% - 200px);
            left: calc(50% - 200px);
            background: url("images/confetti.png") no-repeat center;
            background-size: 100%;
            width: 400px;
            height: 400px;
            transform: scale(0.2);
            animation: confetti 2s 3.5s forwards;
        }
        .confetti2 {
            position: absolute;
            top: calc(50% - 200px);
            left: calc(50% - 200px);
            background: url("images/confetti.png") no-repeat center;
            background-size: 100%;
            width: 400px;
            height: 400px;
            transform: scale(0.2);
            animation: confetti2 2s 3.5s forwards;
        }
        @keyframes box {
            0% {
                width: 160px;
                height: 100px;
                margin-left: -80px;
            }
            30% {
                width: 200px;
                margin-left: -100px;
            }
            60% {
                width: 140px;
                margin-left: -70px;
            }
            100% {
                
            }
        }
        @keyframes boxcover {
            0% {transform: translateY(0) rotate(0)}
            5% {transform: translateY(0) rotate(5deg)}
            10% {transform: translateY(0) rotate(-5deg)}
            15% {transform: translateY(0) rotate(5deg)}
            20% {transform: translateY(0) rotate(-5deg)}
            100% {transform: translateY(-900px) translateX(300px) rotate(125deg);}
        }
        @keyframes mcafee {
            0% {transform: translateY(50px) rotate(0) scale(0.1);opacity: 0}
            20% {transform: translateY(50px) rotate(0) scale(0.4);opacity: 1}
            100% {transform: translateY(-50px) rotate(-10deg) scale(0.8); opacity: 1}
        }
        @keyframes light {
            0% {opacity: 0; transform: scale(0.5) translateY(100px)}
            100% {opacity: 1; transform: scale(0.85) translateY(0)}
        }
        @keyframes title {
            0% {opacity:0; transform: translateY(100px) scale(0); text-shadow: 0;}
            100% {opacity: 1; transform: translateY(0) scale(1); text-shadow: 20px 20px 20px 20px #fff;}
        }
        @keyframes confetti {
            0% {transform: scale(0.1) translateX(0) translateY(0);}
            60% {transform: scale(1) translateX(150px) translateY(-250px);}
            100% {transform: scale(1) translateX(300px) translateY(900px);}
        }
        @keyframes confetti2 {
            0% {transform: scale(0.1) translateX(0) translateY(0);}
            60% {transform: scale(1) translateX(-150px) translateY(-250px);}
            100% {transform: scale(1) translateX(-300px) translateY(900px);}
        }